n8n/workflows/01-mls-replication-and-delivery.json
{
  "name": "EquityPro — Expired Listings Detection + Skip Trace + Deliver",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 10 }]
        }
      },
      "id": "trigger",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "replication_state",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "resource=eq.Property",
        "options": {}
      },
      "id": "get_last_timestamp",
      "name": "Get Last Timestamp",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Reads the last ModificationTimestamp from replication_state to know where to resume polling."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.MLSGRID_API_BASE_URL }}/Property?$filter=OriginatingSystemName eq 'mfrmls' and ModificationTimestamp gt {{ $json.last_modification_timestamp }} and StandardStatus eq 'Expired'&$top=200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        },
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.MLSGRID_ACCESS_TOKEN }}" }
          ]
        }
      },
      "id": "query_mls_grid",
      "name": "Query MLS Grid — Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "notes": "Queries MLS Grid for records modified since last timestamp with StandardStatus=Expired. Does NOT filter by MlgCanView — required for replication to catch removals."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.value.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "has_results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0],
      "notes": "Only proceed if MLS Grid returned expired listings."
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "id": "split_records",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, -60],
      "notes": "Splits the MLS Grid response array into individual listing items."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.CountyOrParish }}",
              "rightValue": "={{ $vars.FILTER_COUNTIES }}",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "leftValue": "={{ $json.ListPrice }}",
              "rightValue": "={{ $vars.FILTER_MIN_PRICE }}",
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "leftValue": "={{ $json.ListPrice }}",
              "rightValue": "={{ $vars.FILTER_MAX_PRICE }}",
              "operator": { "type": "number", "operation": "lte" }
            }
          ]
        }
      },
      "id": "apply_client_filters",
      "name": "Apply Client Filters",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -60],
      "notes": "Filters by county and price range. These fields are NOT searchable in MLS Grid so must be filtered client-side."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "expired_listings",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "listing_key=eq.{{ $json.ListingKey }}",
        "options": {}
      },
      "id": "check_duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, -120],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Checks if this listing_key already exists in Supabase. If found, skip it."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty" }
            }
          ]
        }
      },
      "id": "is_new",
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, -120],
      "notes": "If Supabase returned no match (empty), this is a new listing — proceed. Otherwise skip."
    },
    {
      "parameters": {
        "jsCode": "// Transform MLS Grid record into Supabase expired_listings row\nconst mls = $('Split Into Items').item.json;\n\nconst listingContractDate = mls.ListingContractDate ? new Date(mls.ListingContractDate) : null;\nconst expiredDate = mls.ModificationTimestamp ? new Date(mls.ModificationTimestamp) : new Date();\nlet daysOnMarket = null;\nif (listingContractDate && expiredDate) {\n  daysOnMarket = Math.floor((expiredDate - listingContractDate) / (1000 * 60 * 60 * 24));\n}\n\nreturn [{\n  json: {\n    listing_key: mls.ListingKey,\n    listing_id: (mls.ListingId || '').replace('MFR', ''),\n    street_number: mls.StreetNumber || null,\n    street_name: mls.StreetName || null,\n    street_suffix: mls.StreetSuffix || null,\n    full_address: mls.UnparsedAddress || [mls.StreetNumber, mls.StreetName, mls.StreetSuffix].filter(Boolean).join(' '),\n    city: mls.City || null,\n    state: mls.StateOrProvince || null,\n    zip: mls.PostalCode || null,\n    county: mls.CountyOrParish || null,\n    latitude: mls.Latitude || null,\n    longitude: mls.Longitude || null,\n    property_type: mls.PropertyType || null,\n    property_subtype: mls.PropertySubType || null,\n    bedrooms: mls.BedroomsTotal || null,\n    bathrooms: mls.BathroomsTotalInteger || null,\n    sqft: mls.LivingArea || null,\n    year_built: mls.YearBuilt || null,\n    list_price: mls.ListPrice || null,\n    original_list_price: mls.OriginalListPrice || null,\n    previous_list_price: mls.PreviousListPrice || null,\n    listing_contract_date: mls.ListingContractDate || null,\n    expired_date: mls.ModificationTimestamp || null,\n    days_on_market: daysOnMarket,\n    listing_agent_name: mls.ListAgentFullName || null,\n    listing_agent_email: mls.ListAgentEmail || null,\n    listing_agent_phone: mls.ListAgentDirectPhone || null,\n    listing_office_name: mls.ListOfficeName || null,\n    listing_office_phone: mls.ListOfficePhone || null,\n    status: 'pending_skip_trace',\n    raw_data: mls\n  }\n}];"
      },
      "id": "transform_listing",
      "name": "Transform Listing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -180],
      "notes": "Maps MLS Grid fields to Supabase column names. Also calculates days_on_market."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "expired_listings",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "listing_key", "fieldValue": "={{ $json.listing_key }}" },
            { "fieldName": "listing_id", "fieldValue": "={{ $json.listing_id }}" },
            { "fieldName": "street_number", "fieldValue": "={{ $json.street_number }}" },
            { "fieldName": "street_name", "fieldValue": "={{ $json.street_name }}" },
            { "fieldName": "street_suffix", "fieldValue": "={{ $json.street_suffix }}" },
            { "fieldName": "full_address", "fieldValue": "={{ $json.full_address }}" },
            { "fieldName": "city", "fieldValue": "={{ $json.city }}" },
            { "fieldName": "state", "fieldValue": "={{ $json.state }}" },
            { "fieldName": "zip", "fieldValue": "={{ $json.zip }}" },
            { "fieldName": "county", "fieldValue": "={{ $json.county }}" },
            { "fieldName": "property_type", "fieldValue": "={{ $json.property_type }}" },
            { "fieldName": "property_subtype", "fieldValue": "={{ $json.property_subtype }}" },
            { "fieldName": "bedrooms", "fieldValue": "={{ $json.bedrooms }}" },
            { "fieldName": "bathrooms", "fieldValue": "={{ $json.bathrooms }}" },
            { "fieldName": "sqft", "fieldValue": "={{ $json.sqft }}" },
            { "fieldName": "year_built", "fieldValue": "={{ $json.year_built }}" },
            { "fieldName": "list_price", "fieldValue": "={{ $json.list_price }}" },
            { "fieldName": "original_list_price", "fieldValue": "={{ $json.original_list_price }}" },
            { "fieldName": "listing_contract_date", "fieldValue": "={{ $json.listing_contract_date }}" },
            { "fieldName": "expired_date", "fieldValue": "={{ $json.expired_date }}" },
            { "fieldName": "days_on_market", "fieldValue": "={{ $json.days_on_market }}" },
            { "fieldName": "listing_agent_name", "fieldValue": "={{ $json.listing_agent_name }}" },
            { "fieldName": "listing_office_name", "fieldValue": "={{ $json.listing_office_name }}" },
            { "fieldName": "status", "fieldValue": "pending_skip_trace" }
          ]
        },
        "options": {}
      },
      "id": "insert_listing",
      "name": "Insert Listing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1980, -180],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Inserts the new expired listing into Supabase with status pending_skip_trace."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "billing_tracker",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "month=eq.{{ new Date().toISOString().substring(0,7) }}",
        "options": {}
      },
      "id": "check_billing_cap",
      "name": "Check Billing Cap",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2200, -180],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Reads current month's skip trace usage to check against the cap."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skip_traces_used }}",
              "rightValue": "={{ $json.skip_trace_cap }}",
              "operator": { "type": "number", "operation": "lt" }
            }
          ]
        }
      },
      "id": "under_cap",
      "name": "Under Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, -180],
      "notes": "Routes to skip trace if under cap, or marks cap_reached if over."
    },
    {
      "parameters": {
        "jsCode": "// Build CSV content for Tracerfy from the listing data\nconst listing = $('Transform Listing Data').item.json;\nconst address = listing.full_address || [listing.street_number, listing.street_name, listing.street_suffix].filter(Boolean).join(' ');\nconst city = listing.city || '';\nconst state = listing.state || '';\n\nconst csvContent = `address,city,state\\n${address},${city},${state}`;\n\nreturn [{\n  json: {\n    csvContent,\n    address,\n    city,\n    state,\n    listing_id: $('Insert Listing').item.json.id\n  }\n}];"
      },
      "id": "build_csv",
      "name": "Build CSV for Tracerfy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -240],
      "notes": "Creates the CSV string that Tracerfy expects. The HTTP Request node after this needs to attach it as a file upload."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tracerfy.com/v1/api/trace/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "address_column", "value": "address" },
            { "name": "city_column", "value": "city" },
            { "name": "state_column", "value": "state" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        },
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.SKIP_TRACE_API_KEY }}" }
          ]
        }
      },
      "id": "submit_skip_trace",
      "name": "Submit to Tracerfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, -240],
      "notes": "Submits the CSV to Tracerfy. NOTE: You'll need to configure the csv_file field in n8n's UI to attach the CSV from the Build CSV node as a binary file upload."
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait_for_trace",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3080, -240],
      "notes": "Tracerfy processes ~1 record in about 1 minute."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://tracerfy.com/v1/api/queue/{{ $('Submit to Tracerfy').item.json.queue_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        },
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.SKIP_TRACE_API_KEY }}" }
          ]
        }
      },
      "id": "poll_trace_results",
      "name": "Poll Tracerfy Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, -240],
      "notes": "Polls Tracerfy for results. If status is not 'completed', you may need a retry loop back to Wait 60s."
    },
    {
      "parameters": {
        "jsCode": "// Parse Tracerfy response into skip_trace_results format\nconst traceData = $json;\nconst listingId = $('Build CSV for Tracerfy').item.json.listing_id;\n\n// Tracerfy returns results in its queue response — exact structure\n// will need to be verified with a live API call. Below is the expected mapping.\nconst result = traceData.results ? traceData.results[0] : traceData;\n\nconst phoneNumbers = [];\n// Tracerfy returns up to 8 phone numbers\nfor (let i = 1; i <= 8; i++) {\n  const phone = result[`phone_${i}`] || result[`phone${i}`];\n  const type = result[`phone_${i}_type`] || result[`phone${i}_type`] || 'unknown';\n  if (phone) {\n    phoneNumbers.push({ number: phone, type: type });\n  }\n}\n\nconst emailAddresses = [];\n// Tracerfy returns up to 5 emails\nfor (let i = 1; i <= 5; i++) {\n  const email = result[`email_${i}`] || result[`email${i}`];\n  if (email) {\n    emailAddresses.push(email);\n  }\n}\n\nreturn [{\n  json: {\n    listing_id: listingId,\n    owner_name: result.owner_name || result.first_name && result.last_name ? `${result.first_name} ${result.last_name}` : null,\n    phone_numbers: phoneNumbers,\n    email_addresses: emailAddresses,\n    mailing_address: result.mailing_address || null,\n    skip_trace_provider: 'tracerfy',\n    skip_trace_cost: 0.02,\n    success: phoneNumbers.length > 0 || emailAddresses.length > 0,\n    raw_response: traceData\n  }\n}];"
      },
      "id": "parse_trace_results",
      "name": "Parse Trace Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, -240],
      "notes": "Parses Tracerfy's response into structured phone/email arrays. Field names may need adjustment after testing with live API — verify exact response keys."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "skip_trace_results",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "listing_id", "fieldValue": "={{ $json.listing_id }}" },
            { "fieldName": "owner_name", "fieldValue": "={{ $json.owner_name }}" },
            { "fieldName": "phone_numbers", "fieldValue": "={{ JSON.stringify($json.phone_numbers) }}" },
            { "fieldName": "email_addresses", "fieldValue": "={{ JSON.stringify($json.email_addresses) }}" },
            { "fieldName": "mailing_address", "fieldValue": "={{ $json.mailing_address }}" },
            { "fieldName": "skip_trace_provider", "fieldValue": "tracerfy" },
            { "fieldName": "skip_trace_cost", "fieldValue": "0.02" },
            { "fieldName": "success", "fieldValue": "={{ $json.success }}" }
          ]
        },
        "options": {}
      },
      "id": "store_trace_results",
      "name": "Store Trace Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3740, -240],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Saves the skip trace results to Supabase."
    },
    {
      "parameters": {
        "jsCode": "// Build GHL contact payload from listing + skip trace data\nconst listing = $('Transform Listing Data').item.json;\nconst trace = $('Parse Trace Results').item.json;\n\n// Split owner name into first/last\nconst nameParts = (trace.owner_name || '').split(' ');\nconst firstName = nameParts[0] || 'Property';\nconst lastName = nameParts.slice(1).join(' ') || 'Owner';\n\n// Primary phone and email\nconst primaryPhone = trace.phone_numbers.length > 0 ? trace.phone_numbers[0].number : null;\nconst primaryEmail = trace.email_addresses.length > 0 ? trace.email_addresses[0] : null;\n\nconst payload = {\n  locationId: $vars.GHL_LOCATION_ID,\n  firstName: firstName,\n  lastName: lastName,\n  phone: primaryPhone,\n  email: primaryEmail,\n  address1: listing.full_address,\n  city: listing.city,\n  state: listing.state,\n  postalCode: listing.zip,\n  source: 'Expired MLS Listing',\n  tags: ['expired-listing', 'mls-lead', 'equitypro'],\n  customFields: [\n    // IMPORTANT: Replace these IDs with actual custom field IDs from GHL\n    // Create these fields in GHL first, then update the IDs here\n    { id: 'REPLACE_listing_price', field_value: String(listing.list_price || '') },\n    { id: 'REPLACE_original_list_price', field_value: String(listing.original_list_price || '') },\n    { id: 'REPLACE_bedrooms', field_value: String(listing.bedrooms || '') },\n    { id: 'REPLACE_bathrooms', field_value: String(listing.bathrooms || '') },\n    { id: 'REPLACE_sqft', field_value: String(listing.sqft || '') },\n    { id: 'REPLACE_year_built', field_value: String(listing.year_built || '') },\n    { id: 'REPLACE_mls_number', field_value: listing.listing_id || '' },\n    { id: 'REPLACE_property_type', field_value: listing.property_type || '' },\n    { id: 'REPLACE_county', field_value: listing.county || '' },\n    { id: 'REPLACE_days_on_market', field_value: String(listing.days_on_market || '') },\n    { id: 'REPLACE_listing_agent', field_value: listing.listing_agent_name || '' },\n    { id: 'REPLACE_expired_date', field_value: listing.expired_date || '' }\n  ]\n};\n\nreturn [{ json: payload }];"
      },
      "id": "build_ghl_payload",
      "name": "Build GHL Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3960, -240],
      "notes": "Builds the GoHighLevel contact creation payload. IMPORTANT: You must create custom fields in GHL first and replace the 'REPLACE_*' IDs with actual custom field IDs."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        },
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "deliver_to_ghl",
      "name": "Deliver to GoHighLevel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4180, -240],
      "notes": "Creates contact in GHL via API v2."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "delivery_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "listing_id", "fieldValue": "={{ $('Store Trace Results').item.json.listing_id }}" },
            { "fieldName": "ghl_contact_id", "fieldValue": "={{ $json.contact?.id || $json.id || '' }}" },
            { "fieldName": "delivery_status", "fieldValue": "success" },
            { "fieldName": "delivered_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        },
        "options": {}
      },
      "id": "log_delivery",
      "name": "Log Delivery",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4400, -240],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Logs the successful delivery to Supabase."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expired_listings",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "id", "fieldValue": "={{ $('Insert Listing').item.json.id }}" },
            { "fieldName": "status", "fieldValue": "delivered" }
          ]
        },
        "options": {}
      },
      "id": "mark_delivered",
      "name": "Mark Delivered",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4620, -240],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Updates the listing status to 'delivered' after successful GHL push."
    },
    {
      "parameters": {
        "jsCode": "// Increment the billing counter\nconst currentUsed = $('Check Billing Cap').item.json.skip_traces_used || 0;\nreturn [{ json: { skip_traces_used: currentUsed + 1 } }];"
      },
      "id": "calc_increment",
      "name": "Increment Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, -120],
      "notes": "Calculates the new skip_traces_used value."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "billing_tracker",
        "matchingColumns": ["month"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "month", "fieldValue": "={{ new Date().toISOString().substring(0,7) }}" },
            { "fieldName": "skip_traces_used", "fieldValue": "={{ $json.skip_traces_used }}" }
          ]
        },
        "options": {}
      },
      "id": "update_billing",
      "name": "Update Billing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4840, -120],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Updates the billing_tracker with incremented skip trace count."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "expired_listings",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "id", "fieldValue": "={{ $('Insert Listing').item.json.id }}" },
            { "fieldName": "status", "fieldValue": "cap_reached" }
          ]
        },
        "options": {}
      },
      "id": "mark_cap_reached",
      "name": "Mark Cap Reached",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, -60],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "When monthly cap is hit, marks the listing so it won't be retried."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "replication_state",
        "matchingColumns": ["resource"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "resource", "fieldValue": "Property" },
            { "fieldName": "last_modification_timestamp", "fieldValue": "={{ $('Query MLS Grid — Expired').item.json.value ? $('Query MLS Grid — Expired').item.json.value.reduce((max, r) => r.ModificationTimestamp > max ? r.ModificationTimestamp : max, '') : new Date().toISOString() }}" },
            { "fieldName": "last_successful_run", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        },
        "options": {}
      },
      "id": "update_timestamp",
      "name": "Update Replication Timestamp",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 120],
      "credentials": { "supabaseApi": { "id": "CONFIGURE_IN_N8N", "name": "Supabase ALS Ops" } },
      "notes": "Stores the MAX ModificationTimestamp from this batch so the next poll picks up where we left off. Also runs on the 'no results' path."
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [[{ "node": "Get Last Timestamp", "type": "main", "index": 0 }]]
    },
    "Get Last Timestamp": {
      "main": [[{ "node": "Query MLS Grid — Expired", "type": "main", "index": 0 }]]
    },
    "Query MLS Grid — Expired": {
      "main": [[{ "node": "Has Results?", "type": "main", "index": 0 }]]
    },
    "Has Results?": {
      "main": [
        [{ "node": "Split Into Items", "type": "main", "index": 0 }],
        [{ "node": "Update Replication Timestamp", "type": "main", "index": 0 }]
      ]
    },
    "Split Into Items": {
      "main": [[{ "node": "Apply Client Filters", "type": "main", "index": 0 }]]
    },
    "Apply Client Filters": {
      "main": [
        [{ "node": "Check Duplicate", "type": "main", "index": 0 }],
        []
      ]
    },
    "Check Duplicate": {
      "main": [[{ "node": "Is New?", "type": "main", "index": 0 }]]
    },
    "Is New?": {
      "main": [
        [{ "node": "Transform Listing Data", "type": "main", "index": 0 }],
        []
      ]
    },
    "Transform Listing Data": {
      "main": [[{ "node": "Insert Listing", "type": "main", "index": 0 }]]
    },
    "Insert Listing": {
      "main": [[{ "node": "Check Billing Cap", "type": "main", "index": 0 }]]
    },
    "Check Billing Cap": {
      "main": [[{ "node": "Under Cap?", "type": "main", "index": 0 }]]
    },
    "Under Cap?": {
      "main": [
        [{ "node": "Build CSV for Tracerfy", "type": "main", "index": 0 }],
        [{ "node": "Mark Cap Reached", "type": "main", "index": 0 }]
      ]
    },
    "Build CSV for Tracerfy": {
      "main": [[{ "node": "Submit to Tracerfy", "type": "main", "index": 0 }]]
    },
    "Submit to Tracerfy": {
      "main": [[{ "node": "Wait 60s", "type": "main", "index": 0 }]]
    },
    "Wait 60s": {
      "main": [[{ "node": "Poll Tracerfy Results", "type": "main", "index": 0 }]]
    },
    "Poll Tracerfy Results": {
      "main": [[{ "node": "Parse Trace Results", "type": "main", "index": 0 }]]
    },
    "Parse Trace Results": {
      "main": [[{ "node": "Store Trace Results", "type": "main", "index": 0 }]]
    },
    "Store Trace Results": {
      "main": [[{ "node": "Build GHL Payload", "type": "main", "index": 0 }]]
    },
    "Build GHL Payload": {
      "main": [[{ "node": "Deliver to GoHighLevel", "type": "main", "index": 0 }]]
    },
    "Deliver to GoHighLevel": {
      "main": [[{ "node": "Log Delivery", "type": "main", "index": 0 }]]
    },
    "Log Delivery": {
      "main": [
        [{ "node": "Mark Delivered", "type": "main", "index": 0 }],
        [{ "node": "Increment Counter", "type": "main", "index": 0 }]
      ]
    },
    "Increment Counter": {
      "main": [[{ "node": "Update Billing", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
